.index-modify{
  &:after{
    z-index: -20!important;
  }
  &:before{
    z-index: -10!important;
  }
}

.drop-shadow-modify{
  filter: drop-shadow(0 6px 10px rgba(0,0,0,0.2));
}

.footer {
  background-position: bottom center;
  background-size: auto;
}

.bg-image{
  background-image: url("../../assets/image/footer/pattern.png");
}


.animate-animateSpin {
  -webkit-animation: animateSpin 5s linear infinite;
  animation: animateSpin 5s linear infinite;
}
@-webkit-keyframes animateSpin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes animateSpin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*覆盖tailwindcss的container*/
.my-container {
  max-width: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}



@media (min-width: 320px) and (max-width: 576px) {
  .my-container {
    max-width: 576px;
  }
}
@media (min-width: 576px) {
  .my-container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .my-container {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .my-container {
    max-width: 992px;
  }
}
@media (min-width: 1280px) {
  .my-container {
    max-width: 1280px;
  }
}




/* offcanvas menu style ENd */
/* hero slider style start  */
.hero-slider .swiper-pagination-bullet-active::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 101 0);
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.hero-slider .swiper-slide-active .sub_title {
  -webkit-animation: fadeInLeft 1.2s ease-in-out;
  animation: fadeInLeft 1.2s ease-in-out;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.hero-slider .swiper-slide-active .title {
  -webkit-animation: fadeInLeft 1.4s ease-in-out;
  animation: fadeInLeft 1.4s ease-in-out;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.hero-slider .swiper-slide-active .text {
  -webkit-animation: fadeInLeft 1.6s ease-in-out;
  animation: fadeInLeft 1.6s ease-in-out;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.hero-slider .swiper-slide-active .hero_btn {
  -webkit-animation: fadeInLeft 1.8s ease-in-out;
  animation: fadeInLeft 1.8s ease-in-out;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.hero-slider .swiper-slide-active .hero_info {
  -webkit-animation: fadeInLeft 2s ease-in-out;
  animation: fadeInLeft 2s ease-in-out;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.hero-slider .swiper-slide-active .counter-animate {
  -webkit-animation: fadeInLeft 2s ease-in-out;
  animation: fadeInLeft 2s ease-in-out;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.hero-slider .swiper-slide-active .hero_image {
  -webkit-animation: fadeInRight 1.8s ease-in-out;
  animation: fadeInRight 1.8s ease-in-out;
}


@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}


/*svg图标*/
.mysvg path {
  stroke-miterlimit: 10;
  stroke: #016450;
  fill: #016450;
  fill-opacity: 0;
  stroke-width: 2;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  -webkit-animation: draw 2.5s ease-in-out 1s forwards infinite;
  animation: draw 2.5s ease-in-out 1s forwards infinite;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 800;
    fill-opacity: 0;
  }
  75% {
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }
  95% {
    stroke-dashoffset: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
  }
}


.orange-shape {
  stroke-miterlimit: 10;
  stroke: #ef5f00;
  fill: #ef5f00;
  fill-opacity: 0;
  stroke-width: 2;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  -webkit-animation: draw 2s ease-in-out 1s forwards infinite;
  animation: draw 2s ease-in-out 1s forwards infinite;
}

.orange-shape-about {
  stroke-miterlimit: 10;
  stroke: #ef5f00;
  fill: #ef5f00;
  fill-opacity: 0;
  stroke-width: 2;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  -webkit-animation: draw 2s ease-in-out 1s forwards infinite;
  animation: draw 2s ease-in-out 1s forwards infinite;
}

/*parallax box位置*/
.hero-star {
  top: auto !important;
}

@media screen and (min-width: 992px) {
  .hero-star {
    left: 30px !important;
  }
}
@media screen and (min-width: 1536px) {
  .hero-star {
    left: 50px !important;
  }
}
@media screen and (min-width: 1920px) {
  .hero-star {
    left: 60px !important;
  }
}
@media screen and (max-width: 991px) {
  .hero-star {
    display: none;
  }
}

/*搜索条tab nav*/
.tab-nav .active button {
  color: rgba(1 100 80);
}
.tab-nav li.active button:before{
  width: 100%;
  background-color: rgba(255 101 0);
}
.tab-nav button:hover::before {
  left: 0px;
  right: auto;
  width: 100%;
  transition: width 0.3s ease-in;
}



/**/
.tab-toggle-btn.active {
  @apply bg-primary text-white;
}


.advanced-search {

}

.advanced-search-hidden {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.2s ease-out;
}
.advanced-search-hidden.active {
  overflow: visible;
  max-height: 107px;
}


.advanced-search-list {
  width: 100%;
  padding-right: 15px;
}

@media (min-width: 576px) {
  .advanced-search-list {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .advanced-search-list {
    width: 20%;
  }
}
.advanced-search-list.search-list:nth-child(3) {
  margin-right: 0px;
  border-right-width: 0px;
}

.advanced-search-list.search-list:last-child {
  padding-right: 0px;
}

@media (min-width: 992px) {
  .advanced-search-list.search-list:last-child {
    width: 260px;
  }
}
@media (min-width: 1280px) {
  .advanced-search-list.search-list:last-child {
    width: 270px;
  }
}

.search-btn {
  border-radius: 15px;
  background-color: rgb(255 101 0);
  padding: 5px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.search-btn:hover {
  background-color: rgb(1 100 80);
}

@media (min-width: 768px) {
  .search-btn {
    padding: 10px;
  }
}
@media (min-width: 1280px) {
  .search-btn {
    padding: 20px;
  }
}

.search-properties-btn {
  border-radius: 10px;
  background-color: rgb(255 246 240);
  padding: 20px;
  font-size: 18px;
  line-height: 1;
  color: rgb(255 101 0);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.search-properties-btn:hover {
  background-color: rgb(1 100 80);
  color: rgb(255 255 255);
}

@media (min-width: 1280px) {
  .search-properties-btn {
    width: 100%;
  }

  .search-properties-btn {
    padding-left: 20px;
    padding-right: 20px;
  }

  .search-properties-btn {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .search-properties-btn {
    font-size: 22px;
  }
}


.tab-content {
  display: block;
}


.translate-y-modify-10:hover{
  transform: translateY(-10px);
}

.addedActive button{
  @apply text-secondary;
}


@media (min-width: 800px){
  .modify-relative-position{
    transform: translateX(-40px);
  }

}

.play-button:hover svg {
  stroke-dasharray: 314;
  stroke-dashoffset: 0;
  -webkit-animation: offsetstroke 6s ease-out;
  animation: offsetstroke 6s ease-out;
}
@-webkit-keyframes offsetstroke {
  from {
    stroke-dashoffset: 314;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes offsetstroke {
  from {
    stroke-dashoffset: 314;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.display-icon:before {
  z-index: -10;
}

.stroke-secondary {
  stroke: #FF6500;
}

.group:hover .group-hover\:stroke-white {
  stroke: #fff;
}


